.category-grid{

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

}

.category-grid span:first-child{
    grid-column: 1/4;
    margin-top:80px;
}

.blogcat-header{
    grid-column: 2/3;
    text-align: center;
}

.blogcat-post-container{
    grid-column: 2/3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.blogcat-post-block{
    flex:1 1 0%;
    margin:5px;
    position: relative;
    text-align: center;
    color: #fff;
}

.blogcat-block-overlay-image{
    opacity: 0.8;
    width:400px;
    min-height:400px;
}

.blogcat-block-overlay-text{
    position: absolute;
    width: 400px;
    left: 0px;
    top:85%;
    right: 0;
    height: 15%;
    font-size: 1.5em;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width : 900px) {
    
    .blogcat-post-container{
        grid-column: 1/4;
        display: flex;
        flex-wrap: wrap;
    }
    .blogcat-block-overlay-image{
        max-width: 100%;
        height: auto;
    }
    .blogcat-block-overlay-text{
        width: 100%;        
    }
}    